<!--Another form *jhiHas anyauthority hr or IT that has the update method saveHRIT-->
<form *jhiHasAnyAuthority="['ROLE_IT' , 'ROLE_HR']" name="editForm" role="form" novalidate (ngSubmit)="saveHRIT()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" id="myTicketLabel">IT HR!!!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div  class="form-group" [hidden]="!ticket.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="ticket.id" readonly />
        </div>
        <div class="form-group" [hidden]="ticket.id" >
            <label class="form-control-label" for="field_reason">Reason</label>
            <input type="text" class="form-control" name="reason" id="field_reason"
                   [(ngModel)]="ticket.reason" />
        </div>
        <div class="form-group" [hidden]="ticket.id">
            <label class="form-control-label" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                   [(ngModel)]="ticket.comment" />
        </div>
        <div class="form-group" [hidden]="ticket.id">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                   [(ngModel)]="ticket.description" />
        </div>

        <div class="form-group" [hidden]="!ticket.id"  >
            <label class="form-control-label" for="field_ticketStatus">Ticket Status</label>
            <select class="form-control" id="field_ticketStatus" name="ticketStatus" [(ngModel)]="ticket.ticketStatus">
                <option [ngValue]="null"></option>
                <option [ngValue]="ticketStatusOption.id === ticket.ticketStatus?.id ? ticket.ticketStatus : ticketStatusOption" *ngFor="let ticketStatusOption of ticketstatuses; trackBy: trackTicketStatusById">{{ticketStatusOption.ticketStatus}}</option>
            </select>
        </div>
        <div class="form-group" [hidden]="ticket.id">
            <label class="form-control-label" for="field_request">Request</label>
            <select class="form-control" id="field_request" name="request" [(ngModel)]="ticket.request">
                <option [ngValue]="null"></option>
                <option [ngValue]="requestOption.id === ticket.request?.id ? ticket.request : requestOption" *ngFor="let requestOption of requests; trackBy: trackRequestById">{{requestOption.type}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" >
            <span class="fa fa-save"></span>&nbsp;<span>Save HR IT</span>
        </button>

    </div>
</form>


<form *jhiHasAnyAuthority="['ROLE_EMPLOYEE']" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTicketLabel1">EMPLOYEE</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div  class="form-group" [hidden]="!ticket.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id1" name="id"
                   [(ngModel)]="ticket.id" readonly />
        </div>


        <div class="form-group" [hidden]="ticket.id" >
            <label class="form-control-label" for="field_reason">Reason</label>
            <input type="text" class="form-control" name="reason" id="field_reason1"
                   [(ngModel)]="ticket.reason" />
        </div>
        <div class="form-group" [hidden]="ticket.id">
            <label class="form-control-label" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment1"
                   [(ngModel)]="ticket.comment" />
        </div>
        <div class="form-group" [hidden]="ticket.id">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description1"
                   [(ngModel)]="ticket.description" />
        </div>

        <div class="form-group" [hidden]="!ticket.id"  >
            <label class="form-control-label" for="field_ticketStatus">Ticket Status</label>
            <select class="form-control" id="field_ticketStatus1" name="ticketStatus" [(ngModel)]="ticket.ticketStatus">
                <option [ngValue]="null"></option>
                <option [ngValue]="ticketStatusOption.id === ticket.ticketStatus?.id ? ticket.ticketStatus : ticketStatusOption" *ngFor="let ticketStatusOption of ticketstatuses; trackBy: trackTicketStatusById">{{ticketStatusOption.ticketStatus}}</option>
            </select>
        </div>
        <div class="form-group" [hidden]="ticket.id">
            <label class="form-control-label" for="field_request">Request</label>
            <select class="form-control" id="field_request1" name="request" [(ngModel)]="ticket.request">
                <option [ngValue]="null"></option>
                <option [ngValue]="requestOption.id === ticket.request?.id ? ticket.request : requestOption" *ngFor="let requestOption of requests; trackBy: trackRequestById">{{requestOption.type}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>



